/* layout */
html {
  cursor: none;
}

a:hover, a:focus {
  cursor: none;
}

.cursor {
  width: 4%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  opacity: .7;
  position: fixed;
  transform: translate(calc(-50% + 15px), -50%);
  pointer-events: none;
  transition: width .3s, height .3s;
  z-index: 9999;
    background: radial-gradient(
    circle at 75% 30%,
    white 5px,
    aqua 8%,
    darkblue 60%,
    aqua 100%
  );
  box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #eaf5fc,
    inset 88px 0px 60px #c2d8fe, inset -20px -60px 100px #fde9ea,
    inset 0 50px 140px #fde9ea, 0 0 90px #fff;
  /* word-break: keep-all; */
}

.hover {
  width: 7%;
  aspect-ratio: 1/1;
  opacity: .7;
}

.hover::after {
  content : "click me!";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 0.8vw;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif; 
}

.cursorinnerhover {
  width: 3%;
  aspect-ratio: 1/1;
}

body {
  /* height: 23000px; */
  font-size: 20pt;
  color: #363B3E;
  font-family: 'Pretendard-Regular';
  overflow-x : hidden;
}

div#wrap {  
  position: relative;
  width: 100%;
  height: 100%;
}

#loading {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: url(../images/noise-min.png);
  z-index: 9999;
  transform: translate3d(0, 0, 0);
  transition: transform 0.7s;
  overflow: hidden;
}
#loading.off {
  transform: translate3d(0, -100%, 0);
}

#loading > p {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8vw;
  text-align: center;
  border-radius: 50%;
  width: 20vw;
  aspect-ratio: 2/0.9;
  font-family: 'Pretendard-Bold'; 
  border: solid 1px #333;
  transition: trasnform 0.2s ease, opacity 0.3s;
  animation: loading 7s;
  opacity: 0;
  animation-delay: 0.5s;
  transform: translate3d(-50%, -50%, 0);}

@keyframes loading {
  0% {
    transform: translate3d(-50%, 200%, 0);
    opacity: 0;
  }
  20% {
    transform: translate3d(-50%, -50%, 0);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
}
#loading > div.line {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 40%;
  background: #363B3E;
  transform-origin: top;
  animation: loading2 3.3s;
  animation-delay: 1.8s;
  opacity: 0;
  transition: transform 0.5s, opacity 0.3s;
}
@keyframes loading2 {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
}


section {
  position: relative;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  background: url(../images/main_bg-min.png) repeat-x 0 0 /cover;
  transition: all 0.8s;
}

section.main {
  overflow: hidden;
}
section.profile {
  overflow: hidden;
}

div.bg {
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  background: #fff;
  opacity: 0;
  transform: translate3d(100%, 0, 0);
  transition: opacity 0.3s, transform 0.3s;
  z-index: 51;
}

div.navi {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate3d(100%, 0, 0);
  opacity: 0;
  z-index: 990;
  transition: opacity 0.3s, transform 0.3s;
}


/* nav ON event */
body.on {
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
}
body.load{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

div.bg.on{
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: opacity 0.3s, transform 0.3s;
}

body.on div.navi {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}


body.on #navIcon span {
  background: #333;
}



/* hamburger */
#navIcon {
  position: fixed;
  width: 40px;
  height: 2vw;
  top: 1%;
  right: 2%;
  margin: 20px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  /* cursor: pointer; */
  z-index: 999;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#navIcon.load {
  opacity: 0;
}

#navIcon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

#navIcon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#navIcon span:nth-child(2), #navIcon span:nth-child(3) {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#navIcon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#navIcon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#navIcon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* contact 버튼 */
.btnCont{
  display: block;
  position: fixed;
  top: 2vh;
  left: 50%;
  transform: translateX(-50%);
  height: 6vh;
  border-radius: 30px;
  background: #ffffff55;
  z-index: 50;
  text-align: center;
  line-height: 6vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.btnCont::before {
  content : "";
  display: inline-block;
  width: 1.2vw;
  height: 1.2vw;
  background: #B0DEFF;
  border-radius: 50%;
  margin-right: 4%;
}

/* main */
section.main > p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-family: 'ValkyRegular';
  text-align: center;
  color: #fff;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 2;
  opacity: 0;
  transition: opacity 2s, top 1.5s;
}

section.main > p > span {
  color: #ED6C91;
  transition: color 0.5s ease-out;
}

/* jiyoo"n" */
section.main > p > span:last-of-type {
  font-family: 'Ogg-RegularItalic';
}

div.mountain {
  opacity: 1;
  /* visibility: visible; */
  position: absolute;
  width: 100%;
  height: 62%;
  bottom: 0;
  background: url(../images/mountain-min.png) 0 64% no-repeat;
  background-size: cover;
  z-index: 2;
  transition: all 1s ease-out;
  transform: translate3d(0, 0, 0);
}

div.cloud {
  position: absolute;
  background: url(../images/cloud.png) no-repeat 0 0 /contain;
  mix-blend-mode: screen;
  opacity: 0.8;
  animation: cloud 65s;
  animation-iteration-count: 2;
  transition: opacity 0.2s;
  z-index: 2;
}

div.lineCloud {
  position: absolute;
  top: 0;
  right: 0;
  width: 200%;
  height: 100%;
  z-index: 1;
  animation: lineCloud 60s alternate;
  animation-iteration-count: 5;
  mix-blend-mode: lighten;

}

div.mainText {
  position: absolute;
  display: flex;
  color: #fff;
  font-family: 'Avenir-Next';
  font-weight: 600;
  font-size: 8vw;
  letter-spacing: -0.01em;
  align-items: center;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.7s;
}

div.mainText.on {
  opacity: 1;
}

p.de {
  color: #C6E7FF;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  transition: color 0.5s ease-out;
  font-family: 'ValkyRegular';
}

p.de > span:first-of-type {
  font-family: 'Ogg-MediumItalic';
}

p.others {
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  left: 100%;
  border-right: 2px solid #fff;
  animation: blink .8s;
  animation-iteration-count: 50;
  height: 80%;
  line-height: 100%;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  color: #fafafa;
}

/* div.scrollTo {
  position: absolute;
  background: url(../images/explore.png) no-repeat;
  background-size: contain;
  z-index: 30;
  opacity: 0;
  transition: opacity 1s;
  mix-blend-mode: screen;
}
div.scrollTo.on {
  animation: scroll 35s;
  animation-iteration-count: 3;
  opacity: 1;
} */
.scrollTo {
  position: absolute; 
  bottom: 50px; 
  left: 50%; 
  transform: translate(-50%, 0); 
  z-index: 20; 
  width: 30px; 
  height: 50px; 
  border:1.6px solid #fff; 
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.5s;
}
.scrollTo.on {
  opacity: 1;
}

.scrollTo::before {
  content: ''; 
  display: block; 
  position: absolute; 
  bottom: -35px; 
  left: 49%; 
  transform: translateX(-50%);
  width: 30px; 
  height: 30px;
  font-size: 16px; 
  color: #fff; 
  background: url(../images/down_.png) no-repeat 0 0/contain;
  filter: invert(100) brightness(100);
}
.scrollTo span {
  position: absolute; 
  display: block;
  top: 8px; 
  left: 50%; 
  transform: translateX(-50%);
  width: 4px; 
  height: 12px; 
  background: #f1f1f1; 
  border-radius: 20%; 
}
.scrollTo.on span {
  animation: Mouse_act 1s ease-out;
  animation-iteration-count: 100;
}

@keyframes Mouse_act
{
0%{transform: translate(-50%, 5px);}

50%{transform: translate(-50%, -2px);}

100%{transform: translate(-50%, 5px);}

}
.subText {
  position: absolute;
  z-index: 40;
  color: #fff;
  opacity: 0;
  transition: transform 1s ease, opacity 1.5s ease;
}

.subText > p {
  width: 100%;
  font-family: 'ValkyRegular';
  text-align: center;
  line-height: 100%;
}

.subText div > p {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 80%;
  top: 40%;
  left: 53%;
  transform: translate(-50%, -50%);
  gap: 1vh;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.subText div > p > span {
  width: 100%;
  text-align: center;
  font-family: 'Pretendard-Light';
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1vw;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

/* 메인 애니메이션 */
.subText > div > p {
  opacity: 0;
  transition: opacity 1.2s ease;
}
.subText > div > p.on {
  opacity: 1;
}
section.main.on {
  background: url(../images/main_bg2-min.png) 0 0, url(../images/star.jpg);
  background-blend-mode: lighten;
  /* will-change: auto; */
}
section.main.on > div.mountain {
  background: url(../images/mountain2-min.png) 0 64% no-repeat;
  background-size: cover;
}
section.main.on > div.lineCloud {
  mix-blend-mode: multiply;
  filter: grayscale(1);
}
section.main.on > div.cloud {
  opacity: 0.3;
}
section.main.on > p > span, section.main.on p.de {
  color: #E9DC4E;
}

/* profile */
section.profile h1 {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 900;
  color: #fff;
  line-height: 120%;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: -0.25vw;
}

section.profile h1 > p {
  position: relative;
  width: 100%;
  z-index: 20;
}
:root {
  --underline: 0;
}
section.profile h1::before {
  content: "";
  display: block;
  position: absolute;
  top: 53%;
  height: 50%;
  background: #F08BA8;
  z-index: 1;
  transform: scaleX(var(--underline));
  transform-origin: left;
  transition: transform 0.3s ease-in;
}

section.profile li {
  font-family: 'Montserrat', 'Pretendard-Regular', sans-serif;
  font-size: 1vw;
  letter-spacing: -0.06vw;
  font-weight: 400;
}

section.profile li strong {
  font-family: 'Pretendard-Bold'; 
}

section.profile h2 {
  font-family: 'RoxboroughCF-Medium';
}
div.proBox > div {
  opacity: 0;
  transform: translate3d(0, 30%, 0);
  transition: transform 0.5s ease-in-out, opacity 0.7s;
}
div.proBox > div.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
div.proBox > div.on {
  opacity: 1;
  transform: scale(1);
}




div.aboutMe {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10%;
}
div.timeLine {
  position: relative;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}
div.tlbox {
  position: relative;
  width: 100%;
  height: 100%;
}
div.skills {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}
section.profile > span {
  position: absolute;
  display: block;
  font-family: 'La Belle Aurore', cursive;
  color: #ffffff50;
  transform: rotate(2.561deg);
}

/* designWorks */
section.designWorks{
  position: relative;
  height: 600vh;
  background: url(../images/noise-min.png), linear-gradient(180deg, #c3e0f3 0%,rgba(220, 163, 178, 0.50) 40%);
  /* background: url(../images/noise-min.png), linear-gradient(180deg, #c3e0f3 0%,#ffffff 35.03%); */
  background-blend-mode:multiply;

}

div.verticalCloud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/verticalCloud.jpg) 0 0/cover;
  mix-blend-mode: screen;
}

section.designWorks > h2 {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  font-family: 'RoxboroughCF-Medium';
  font-size: 15vw;
  width: 100%;
  height: auto;
  text-align: center;
  background: linear-gradient(180deg, rgba(163, 207, 236, 0.90) 36.57%, rgba(220, 163, 178, 0.90) 65.32%, rgba(220, 163, 178, 0.00) 79.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: overlay;
}

section.designWorks > ul.pcVer {
  position: -webkit-sticky; 
  position: sticky;

  top: 0;
  width: 200%;
  height: 18%;
  background: url(../images/box.png) repeat-x 0 100%/contain;
  z-index: 30;
  transform: translateX(20%);
  display: flex;
  align-items: end;
  gap: 3%;
  background-blend-mode: lighten;
}
section.designWorks > ul.pcVer > li {
  position: relative;
  margin-bottom: 4.5%;
  transition: opacity 0.3s;
}
section.designWorks > ul.pcVer > li:first-child {
  margin-left: 10%;
}
section.designWorks > ul > li.on {
  animation: shake 0.9s;
  opacity: 1;
  transition: opacity 0.3s;
}
section.designWorks > ul > li:hover > img:first-child {
  opacity: 0;
}

section.designWorks > ul > li > img:last-child {
  opacity: 0;
  position: absolute;
  bottom: 20px;
  left: 0;
  border-radius: 20px;
  width: 20vw;
  transition: opacity 0.5s ease-in-out;
  box-shadow: 0px -1px 24px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px -1px 24px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px -1px 24px 1px rgba(0,0,0,0.1);
}

section.designWorks > ul > li:last-child  > img:last-child {
  width: 15vw;
}

section.designWorks > ul > li:first-child > img:last-child {
  left: 50%;
  transform: translateX(-50%)
}

section.designWorks > ul > li:hover > img:last-child {
  opacity: 1;
}

@keyframes shake {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.85, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* web projects */
section.web {
  background: #fff;
  height: 150vh;
}

.webCircle {
  position: relative;
  width: 100%;
  height: 100vh;
  border-radius: 200vw 200vw 0 0;
  background: linear-gradient(180deg, #fff 20%, #E4F7FF 50%, rgb(185, 219, 234) 75%, #FFFfff70 90%);
  background-blend-mode: multiply;
  z-index: 30;
  transform: scale(0.5);
  transition: background 0.3s ease;

}


section.web > ul {
  position: absolute;
  width: auto;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  z-index: 105;
  /* border: solid 1px red; */
}

section.web > ul:first-of-type > li {
  width: 100%;
}


section.web > ul > li > a {
  display: block;
  font-family: 'ValkyRegular';
  width: 100%;
  text-align: center;
  background: #fff;
  transition: color 0.12s;
  color: #363b3e30;
}
section.web > ul > li.on > a{
  color: #363b3e;
}
/* section.web > ul:hover > :not(:hover) > a {
  color: #363b3e30;
} */

section.web > ul > li > a > span {
  font-family: 'Ogg-RegularItalic';
}

article.webPage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0);
  left: 0;
  width: 100vw;
  height: 70%;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.2s; 
}

/* article.bing {
  background: url(../images/noise-min.png) 50% / cover no-repeat
  , linear-gradient(180deg, #F4FCFF 0%, #E4F7FF 0.01%, #FFF 100%);
  background-blend-mode: multiply;
}
article.danggn {
  background: url(../images/noise-min.png) 50% / cover repeat-x
  , linear-gradient(180deg, #FFE2CE 0%, #FFF 100%);
  background-blend-mode: multiply;
}
article.oth {
  background: url(../images/noise-min.png) 50% / cover no-repeat
  , linear-gradient(180deg, #345543 0%, #C0C9B5 0.01%, #FFF 100%);
  background-blend-mode: multiply;
} */
article.webPage.on {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}

article.oth h3 > img {
  width: 60%;
}

article.webPage > div.cont > ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  row-gap: 1vh;
  z-index: 15;
}

article > div.cont > ul:first-of-type > li {
  font-family: 'Pretendard-Light';
  width: auto;
  border-radius: 20px;
  background: #FFF;
  line-height: 1;
  letter-spacing: -0.04vw;
  font-weight: 400;
}

article.bing > div.cont > ul:first-of-type > li {
  color: #509FC3;
}
article.danggn > div.cont > ul:first-of-type > li {
  color: #EB9E51;
}
article.oth > div.cont > ul:first-of-type > li {
  color: #8E9D78;
}
article.mobile > div.cont > ul:first-of-type > li {
  color: #979177;
}
article.danggn > div.cont > ul:first-of-type > li:nth-child(2){
  font-family: 'Pretendard-SemiBold';
}

article.bing div.mockup {
  background: url(../images/Mockup_bing-min.png) no-repeat 0 100% /contain;
}
article.danggn div.mockup {
  background: url(../images/Mockup_dang-min.png) no-repeat 0 100% /contain;
}
article.oth div.mockup {
  background: url(../images/Mockup_oth-min.png) no-repeat 0 100% /contain;
}
article.mobile div.mockup {
  background: url(../images/mob_mockup.png) no-repeat 0 0/cover;
}
.webLink {
  display: flex;
  column-gap: 2%;
}
.webLink a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  padding: 0.8vw 1.5vw;
  color: #FFF;
  font-family: Montserrat;
  text-align: center;
  font-size: 0.9vw;
  border-radius: 3rem;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.10));
  z-index: 30;
  /* margin-top: 2%; */
  font-weight: bolder;
  text-shadow: 0px 2px 5px #33333320;
}
.webLink a:last-child {
  font-weight: 400;
}

.bing a {
  background-image: linear-gradient(180deg, #cfeefa 0, #c0e6f6 25%, #b3daee 50%, #a6d6ef 75%, #a6d6ef 100%);
}
.danggn a {
  background-image: linear-gradient(180deg, #f5ddca 0, #f4d7c3 16.67%, #f3d0bc 33.33%, #f2c9b5 50%, #f1c2af 66.67%, #f0bba9 83.33%, #efb4a5 100%);
}
.oth a {
  background-image: linear-gradient(180deg, #b0e3c9 0, #b5d2bd 25%, #a1c6aa 50%, #99bda2 75%, rgb(163, 185, 169) 100%);
}
.mobile a {
  background-image: linear-gradient(180deg, #F5F3EC 0, #efe9d2 25%, #e8e0c2 50%,#e8e0c2 75%, rgb(215, 205, 169) 100%);
}
ul.webCheck {
  width: 60vw;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate3d(-50%, 50%, 0);
  z-index: 110;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.7);
  transition: transform 0.4s, opacity 0.5s;
  opacity: 0;
}

.webCheck.on {
  opacity: 1;
  transform: translate3d(-50%, -50%, 0);
}


.webCheck.on {
  opacity: 1;
  transform: translate3d(-50%, -50%, 0);
}

.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  border-radius: 15px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 35vh;
  z-index: 111;

}

.webCheck > li:nth-child(1) {
  width: 30vw;
  height: 40vh;
  top: 6%;
  left: 6%;
}
.webCheck > li:nth-child(2) {
  top: 20%;
  right: 5%;
  z-index: 113;
}
.webCheck > li:nth-child(3) {
  bottom: 15%;
  left: 20%;
}



.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}
.webCheck > li:nth-child(4) {
  width: 1.8vw;
  aspect-ratio: 1/1;
  background: #aaaaaa50;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 3%;
  top: 3%;
}
.webCheck svg {
  display: block;
  position: absolute;
  font-family: 'Montserrat', sans-serif; 
  width:1vw;
  height: 1vw;
  opacity: 1;
  filter: invert(100);
}
.browser-mockup img {
  width: 100%;
  border-radius: 15px;
}

/** valdiation 텍스트*/
.webCheck li:last-child {
  position: absolute;
  bottom: 4%;
  width: 100%;
  font-size: 3.3vw;
  color: #ffffff50;

  text-align: center;
  /* text-shadow: 0px 0px 3px #421f1f30; */
  font-family: 'RoxboroughCF-DemiBold'; 
  letter-spacing: -0.03em;
  font-weight: 700;
  z-index: 120;
  -webkit-text-stroke: #fff .1px;
}

/* content5 // contact */
div#content5 {
  position: relative;
  z-index: 60;
}
.contact {
  position: relative;
}
.contact > h2 {
  position: absolute;
  font-family: 'Avenir-Next-Extrabold';
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -0.4rem;
  z-index: 30;
  line-height: 95%;
  transform: translate3d(-50%, 0, 0);
  opacity: 0;
  transition: transform 0.7s, opacity 0.7s
}

.contact > h2 > span {
  display: block;
}
.contact > h2 > span:first-child {
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.07);
}
.contact > h2 > span:last-child {
  color: transparent;
  -webkit-text-stroke: 0.1rem #fff;
  /* color: rgb(185, 219, 234) */
}

.contact > dl {
  position: relative;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.3rem;
  z-index: 50;
  transform: translate3d(50%, 0, 0);
  opacity: 0;
  transition: transform 0.7s, opacity 0.7s
}
.contact > dl > dt {
  font-weight: 600;
  letter-spacing: -0.05rem;
}

.contact  > ul {
  position: absolute;
  color: #fff;
  z-index: 60;
  transform: translate3d(-50%, 0, 0);
  opacity: 0;
  transition: transform 0.7s, opacity 0.7s
}
.contact  > ul > li > strong {
  font-family: 'Pretendard-SemiBold';
}

.contact  > ul > li {
  line-height: 150%;
  font-family: 'Pretendard-Light';
}

/* 애니메이션 */
.contact > h2.on {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.contact > ul.on {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.contact > dl.on {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}















/* keyframes */
@keyframes cloud {
  0% {left: -20%;}
  100% {left: 100%;}
}
@keyframes lineCloud {
  0% {right: -50%;}
  100% {right: 0%;}
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes scroll {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}