/* font */
@import url(reset.css);
@import url(font.css);
@import url(common.css);

/* PC */
@media screen and (min-width: 1281px) {
.mobSite, .mobVer, .btnCont, .moblist {
  display: none;
}

/* nav */
div.navi > ul:first-of-type {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  font-size: 6vw;
  font-family: 'ValkyRegular';
}

div.navi > ul:first-of-type > li {
  position: relative;
}

div.navi > ul:first-of-type > li a {
  margin: 0 2vw;
}
div.navi > ul:first-of-type > li:first-child~li::before {
  content: "/";
  display: inline;
  color: #ED6C91;
}

div.navi > div {
  position: absolute;
  width: 100%;
  bottom: -1%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: end;
}

div.navi > div > span {
  display: block;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 3%;
  font-size: 1.8vw;
}
div.navi > div > a {
  display: block;
  width: 25vw;
  aspect-ratio: 1/1;
}
div.navi > div img {
  width: 100%;
}

/* hamburger */

#navIcon span:nth-child(2) {
  top: 14px;
}

#navIcon span:nth-child(3) {
  top: 28px;
}

#navIcon.open span:nth-child(1) {
  top: -3px;
  left: 8px;
}

#navIcon.open span:nth-child(3) {
  top: 25px;
  left: 8px;
}

/* main */
section.main > p {
  font-size: 8vw;
}

/* window.onload Event */
section.main > p:nth-of-type(1) {
  top: 50%;
  opacity: 0;
}
section.main > p:nth-of-type(1).on {
  top: 12%;
  opacity: 1;
}
section.main > p:nth-of-type(2){
  top: 70%;
  opacity: 0;
}
section.main > p:nth-of-type(2).on{
  top: 32%;
  opacity: 1;
}
/* section.main > div.mountain.off {
  opacity: 0;
  transform: translateY(100%);
} */

div.mountain {
  height: 62%;
  background: url(../images/mountain1.webp) 0 64% no-repeat;
  background-size: cover;
}

div.cloud {
  width: 30%;
  height: 30%;
}

div.lineCloud {
  background: url(../images/cloud_panorama1.webp) repeat-x 0 0/ cover;
}


div.mainText {
  top: 48%;
  left: 21%;
  font-size: 8vw;
}

p.de > span:last-of-type {
  color: #fff;
  font-size: 7rem;
  margin: 0 15px;
}

div.scrollTo {
  width: 20%;
  height: 40%;
  left: 15%;
  bottom: -20%;
}

.subText {
  top: 70%;
  left: 68%;
}

.subText.on {
  top: 58%;
  opacity: 1;
}

.subText > p {
  font-size: 5.5vw;
}

.subText div > p > span {
  font-size: 1.2vw;
}


/* profile */
section.profile h1 {
  font-size: 4.5vw;
  margin-top: 5%;
  margin-left: 5%;
}

section.profile h1 > p:last-child{
  text-indent: 3.2%;
}

section.profile h1::before {
  left: 2.6%;
  width: 43%;
}

section.profile > div.proBox {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  column-gap: 0.5%;
  margin-top: 5%;
  z-index: 5;
}
section.profile li {
  font-size: 1vw;
  line-height: 1.8vw;
}

section.profile h2 {
  font-size: 1.5vw;
  margin-bottom: 20px;
}

div.aboutMe {
  width: 35%;
  height: 46%;
  padding: 2% 2% 4% 2%;
}

div.timeLine {
  width: 20%;
  height: 46%;
  padding: 2% 2% 4% 2%;
}

div.tlgraph div.line {
  position: absolute;
  top: 3%;
  left: 10%;
  width: 1px;
  height: 90%;
  background: #ED6C91;
}
div.tlgraph div.circle {
  position: absolute;
  top: 3%;
  left: 7.5%;
  width: 0.9vw;
  height: 0.9vw;
  background: #F493AF;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.1));
}
div.tlgraph div.circle:last-of-type {
  top: auto;
  bottom: 3%;
}

div.timeLine div.tldata {
  position: absolute;
  width: 100%;
  top: 12%;
}
div.tldata > ul:first-of-type::before, div.tldata > ul:nth-of-type(2)::before, div.tldata > ul:last-of-type::before {
  content: "";
  display: block;
  position: absolute;
  top: 4%;
  left: 7.8%;
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 50%;
  background: #ED6C91;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.15));
}
div.timeLine ul {
  position: relative;
  width: 93%;
  padding-left: 23%;
  margin-bottom: 6%;

}
div.timeLine ul > li {
  font-family: 'Montserrat', 'Pretendard-Regular', sans-serif;
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 1.3vw;
}

div.timeLine ul > li:nth-of-type(2) {
  margin-left: 3%;
  font-weight: 400;
}
div.timeLine ul:first-of-type > li:last-child {
  text-align: right;
}
div.timeLine ul > li > span {
  font-size: 0.7vw;
  font-weight: 400;
  color: rgba(54, 59, 62, 0.50);
}
div.skills {
  width: 20%;
  height: 46%;
  padding: 2% 2% 4% 2%;
}

div.skills > ul {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10%;
  text-align: center;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
}

div.skills > ul > li {
  width: 100%;
}

section.profile > span {
  top: 3%;
  left: 4%;
  font-size: 7vw;
}

div.emoji {
  position: absolute;
  top: -10.9vw;
  left: 40%;
  background:url(../images/emoji.png) no-repeat 0 0 /contain;
  width: 11vw;
  height: 11vw;
}

/* designWorks */
section.designWorks > div.lineCloud {
  top: 15%;
}

section.designWorks > ul > li {
  position: absolute;
  bottom: 30vh;
  width: 30vw;
  z-index: 30;
}

section.designWorks > ul > li:first-child {
  left: 10%;
}
section.designWorks > ul > li:nth-child(2) {
  left: 25%;
}
section.designWorks > ul > li:nth-child(3) {
  left: 40%;
  bottom: 12%;
}
section.designWorks > ul > li:nth-child(4) {
  left: 55%;
  bottom: 12%;
}


/* web projects */
section.web > ul {
  height: 80%;
  top: 50%;
  row-gap: 3vh;
  transform: translateY(-50%);
  margin-left: 10%;
}
section.web > ul > li {
  width: 20vw;
}

section.web > ul > li > a {
  height: 16vh;
  line-height: 16vh;
  font-size: 3vw;
  border-radius: 5.5vw;
}

article h3 {
  width: 10vw;
}

article > div.cont {
  position: absolute;
  top: 15%;
  left: 32vw;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 2vh;
}
article.webPage p {
  font-family: 'Pretendard-Regular';
  font-size: 1vw;
  letter-spacing: -0.02vw;
  line-height: 150%;
}

article ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 25vw !important;
}

article ul > li {
  font-size: 0.85vw;
  padding: 0.6vw 1vw;
  margin-right: 10px;
}

article.webPage ul > li:nth-child(3){
  margin-right: 3vw;
}
article.oth ul > li:nth-child(3){
  margin-right: 10px;
}

article div.mockup {
  position: absolute;
  width: 50vw;
  height: 70vh;
  right: -5%;
  bottom: 5%;
}

/* content5 // contact */
.contact > h2 {
  top: 3%;
  left: 2%;
  font-size: 8vw;
}


.contact > h2 > span:last-child {
  font-size: 9.2vw;
}

.contact > dl {
  width: 98%;
  height: 95%;
}
.contact > dl > dt {
  font-size: 2vw;
}
.contact > dl > dd {
  font-size: 1.3vw; 
}

.contact  > ul {
  bottom: 5%;
  left: 2%;
}
.contact  > ul > li {
  font-size: 1.5vw;
}


}