/* 스마트폰 */
@media screen and (max-width: 480px) {

#wrap > div {
  position: relative;
}

div.navi > ul:first-of-type {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-size: 15vw;
  font-family: 'ValkyRegular';
  gap: 5vh;
}

div.navi > ul:first-of-type > li {
  position: relative;
  
}

div.navi > ul:first-of-type > li:first-child~li::before {
  content: "/";
  display: block;
  color: #ED6C91;
  text-align: center;
  line-height: 100%;
  transform: rotate(40deg);
}

div.navi > div {
  display: none;
}


/* contact 버튼 */
.btnCont{
  width: 40vw;
  font-size: 2.3vw;
}

.btnCont::before {
  width: 1.4vw;
  height: 1.4vw;
}

/* 햄버거 */
#navIcon {
  width: 34px;
  height: 3vh;
  top: 1%;
  right: 4%;
}

#navIcon span:nth-child(2) {
  top: 12px;
}
#navIcon span:nth-child(3) {
  top: 24px;
}
#navIcon.open span:nth-child(1) {
  top: 0px;
  left: 8px;
}
#navIcon.open span:nth-child(3) {
  top: 24px;
  left: 8px;
}

/* main */
section.main > p {
  font-size: 11.2vw;
}

/* window.onload Event */
section.main > p:nth-of-type(1) {
  font-size: 12.5vw;
  top: 70%;
  opacity: 0;
}
section.main > p:nth-of-type(1).on {
  top: 16%;
  opacity: 1;
}
section.main > p:nth-of-type(2){
  top: 70%;
  opacity: 0;
}
section.main > p:nth-of-type(2).on {
  top: 26%;
  opacity: 1;
}
section.main > div.mountain.off {
  bottom: -20%;
  opacity: 0;
}

div.mountain {
  height: 76%;
  background: url(../images/mountain.png) 50% 0 no-repeat;
  background-size: cover;
}

div.cloud {
  width: 60%;
  height: 30%;
}

div.lineCloud {
  background: url(../images/cloud_panorama1.png) repeat-x 0 50%;
}

div.mainText {
  top: 33%;
  left: 14%;
  font-size: 13vw;
}

p.de {
  color: #ED6C91;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
  font-family: 'ValkyRegular';
}

p.de > span:last-of-type {
  color: #fff;
  font-size: 5rem;
  margin: 0 10px;
}

p.others {
  top: 56%;
}

div.scrollTo {
  width: 60%;
  height: 30%;
  left: 20%;
  bottom: -15%;
}

.subText {
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.subText.on {
  top: 45%;
  opacity: 1;
}

.subText > p {
  font-size: 15vw;
}

.subText div > p > span {
  font-size: 4vw;
}

/* profile */
section.profile h1 {
  top: 17%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 8.5vw;
  text-align: center;
}

section.profile h1::before {
  width: 85%;
  left: 50%;
  transform: translateX(-50%);
}

section.profile > span {
  top: 12%;
  left: 3%;
  font-size: 10.5vw;
}

section.profile > ul.moblist {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: 0;
  width: 95%;
  height: 40%;
  z-index: 20;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 5%;

}
section.profile > .moblist > li {
  font-family: 'RoxboroughCF-DemiBold';
  font-size: 6vw;
}
section.profile > .moblist > li > a {
  display: block;
  width: 60vw;
  height: 15vw;
  line-height: 15vw;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.60) 15.10%, rgba(255, 255, 255, 0.00) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 3rem;
  text-align: center;
}

section.profile > div.proBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: none;
}

section.profile li {
  font-size: 3.5vw;
  line-height: 150%;
  word-break: keep-all;
}

section.profile h2 {
  font-size: 8vw;
}

section.profile > h1, section.profile > span, section.profile > ul {transition: opacity 0.3s;}
section.profile.off > h1, section.profile.off > span, section.profile.off > ul {opacity: 0;}
section.profile.off > div.proBox {
  display: block;
}

div.aboutMe {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40% 20% 8% 20%;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10%;
  margin-right: -8%;
  justify-content: center;
  align-items: center;
  background: #ffffff70;
  text-align: center;
  backdrop-filter: blur(2px);
  opacity: 0;
  transform: scale(0);
}
div.aboutMe.on {
  opacity: 1;
  transform: scale(1);
}

section.profile div.aboutMe ul {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 4%;
}

p.btnBack {
  display: block;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 10vw;
  height: 10vw;
  cursor: pointer;
  background: url(../images/down_.png) no-repeat 0 0/contain;
  z-index: 50;
}

div.timeLine {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40% 20% 8% 20%;
  background: #ffffff70;
  backdrop-filter: blur(2px);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0);
}

div.timeLine.on {
  opacity: 1;
  transform: scale(1);
}
div.tlbox {
  position: relative;
  width: 100%;
  height: 100%; 
}

div.tlgraph div.line {
  position: absolute;
  left: 3%;
  width: 1px;
  height: 50%;
  top: 8%;
  background: #ED6C91;
}
div.tlgraph div.circle {
  position: absolute;
  top: 7%;
  left: 0.8%;
  width: 3vw;
  height: 3vw;
  background: #F493AF;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.1));
}
div.tlgraph div.circle:last-of-type {
  top: 56%;
}

div.timeLine div.tldata {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding-left: 10%;
  margin-top: 10vh;
}

div.tldata > ul:first-of-type::before, div.tldata > ul:nth-of-type(2)::before, div.tldata > ul:last-of-type::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -10.5%;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background: #ED6C91;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.15));
}
div.timeLine ul {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  /* border: solid 1px red; */
  gap: 0.7vh;
}

div.timeLine ul > li {
  font-family: 'Montserrat', 'Pretendard-Regular', sans-serif;
  font-weight: 600;
  font-size: 3.5vw;
  line-height: 3.5vw;
  width: 100%;
  word-break: keep-all;
}
div.timeLine ul > li:nth-of-type(2) {
  font-weight: 400;
  margin-left: 3%;
}

div.timeLine ul > li > span {
  display: block;
  font-size: 2.7vw;
  font-weight: 400;
  color: rgba(54, 59, 62, 0.50);
  text-align: right;
  margin-right: 3%;
}

div.skills {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40% 20% 8% 20%;
  background: #ffffff70;
  backdrop-filter: blur(2px);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  opacity: 0;
  transform: scale(0);
}

div.skills.on {
  opacity: 1;
  transform: scale(1);
}

div.skills > ul {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3vh;
  align-content: center;
  justify-items: center;
}

div.emoji {
  display: none;
}

/* designWorks */
section.designWorks > h2 {
  position: absolute;
  font-family: 'RoxboroughCF-Medium';
  font-size: 30vw;
  width: 100%;
  top: 0;
  line-height: 280%;
  text-align: center;
  background: linear-gradient(180deg, rgba(163, 207, 236, 0.90) 36.57%, rgba(220, 163, 178, 0.90) 75.32%, rgba(220, 163, 178, 0.00) 90.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff20;
  mix-blend-mode: overlay;
}

section.designWorks > div.lineCloud {
  top: 10%;
}

section.designWorks > ul:first-of-type {
  display: none;
}
section.designWorks > ul.topright {
  position: absolute;
  width: 400%;
  height: 100%;
  background: url(../images/box.png) repeat-x 0 38%/ contain; 
  left: 30%;
}
section.designWorks > ul.topright > li {
  position: absolute;
  top: 15vh;
  width: 55vw;
  z-index: 30;
}
section.designWorks > ul.bottomleft{
  position: absolute;
  width: 400%;
  height: 100%;
  background: url(../images/box2.png) repeat-x 100% 100%/contain;
  right: 30%;
  left: auto;
}

section.designWorks > ul.bottomleft > li {
  position: absolute;
  bottom: 6vh;
  width: 80vw;
  z-index: 30;
}

section.designWorks > ul.topright > li:first-child {
  left: 8%;
}
section.designWorks > ul.topright > li:nth-child(2) {
  left: 20%;
}
section.designWorks > ul.bottomleft > li:nth-child(1) {
  right: 2%;

}
section.designWorks > ul.bottomleft > li:nth-child(2) {
  right: 13%;
}


/* 퍼블리싱 */
section.web {
  width: 100%;
  height: 100%;
}

section.web > ul {
  display: none;
}

article.webPage {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0 16px;
  opacity: 1;
}
article.bing {
  background: url(../images/noise.png) 50% / cover no-repeat
  , linear-gradient(180deg, #F4FCFF 0%, #E4F7FF 0.01%, #FFF 100%);
  background-blend-mode: multiply;
}
article.danggn {
  background: url(../images/noise.png) 50% / cover no-repeat
  , linear-gradient(180deg, #FFE2CE 0%, #FFF 100%);
  background-blend-mode: multiply;
}
article.oth {
  background: url(../images/noise.png) 50% / cover no-repeat
  , linear-gradient(180deg, #345543 0%, #C0C9B5 0.01%, #FFF 100%);
  background-blend-mode: multiply;
}

article h3 {
  width: 35vw;
}
article.oth h3 {
  text-align: center;
}

article > div.cont {
  width: 100%;
  height: 100%;
  top: 0;
  padding: 17vh 5% 0 5%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 3vh;
}

article.webPage p {
  font-family: 'Pretendard-Regular';
  width: 90%;
  font-size: 3.5vw;
  letter-spacing: -0.02vw;
  line-height: 150%;
  word-break: keep-all;
  text-align: center;
}

article.webPage ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  row-gap: 1.5vh;
}
article ul > li {
  font-family: 'Pretendard-Light';
  font-size: 2.8vw;
  width: auto;
  padding: 2vw 3vw;
  margin-right: 8px;
  border-radius: 20px;
  background: #FFF;
  line-height: 1;
  letter-spacing: -0.04vw;
  font-weight: 400;
}

a.mobSite {
  position: relative;
  display: block;
  text-transform: capitalize;
  width: 35vw;
  height: 10vw;
  line-height: 10vw;
  color: #FFF;
  font-family: Montserrat;
  text-align: center;
  font-size: 3.5vw;
  border-radius: 10rem;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.10));
  z-index: 30;
}

.bing a.mobSite {
  background: url(../images/right.png) 78% 52% no-repeat,linear-gradient(180deg, #95D0F2 14.06%, #AFE2FF 100%);
}
.danggn a.mobSite {
  background: url(../images/right.png) 78% 52% no-repeat,linear-gradient(180deg, #FFAD77 14.06%, #FBBE96 100%);
}
.oth a.mobSite {
  background: url(../images/right.png) 78% 52% no-repeat,linear-gradient(180deg, #8fac96 14.06%, #B4DBBD 100%);
}

article div.mockup {
  position: absolute;
  width: 100vw;
  height: 70vh;
  left: 10vw;
  bottom: 2%;
  z-index: 1;
}


/* content5 // contact */
.contact{position: relative;}

.contact > h2 {
  top: 18%;
  left: 4%;
  font-size: 14vw;
  letter-spacing: -0.2rem;
}

.contact > h2 > span:last-child {
  -webkit-text-stroke: 0.07rem #fff;
  font-size: 15vw;
}

.contact > dl {
  position: absolute;
  top: 45%;
  width: 95%;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.3rem;
  z-index: 50;
}
.contact > dl > dt {
  font-size: 5vw;
}
.contact > dl > dd {
  font-size: 3.5vw; 
}
.contact > ul {
  bottom: 10%;
  left: 4%;
}
.contact  > ul > li {
  font-size: 3.5vw;
  line-height: 170%;
}

}