/* 스마트폰 가로, 태블릿 세로 */
@media screen and (min-width: 481px) and (max-width: 768px) {

.mobSite, .mobVer, .moblist {
  display: none;
}

/* nav */
div.navi > ul:first-of-type {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-size: 10vw;
  font-family: 'ValkyRegular';
  gap: 2vh;
}

div.navi > ul:first-of-type > li {
  position: relative;
}

div.navi > ul:first-of-type > li:first-child~li::before {
  content: "/";
  display: block;
  color: #ED6C91;
  text-align: center;
}

div.navi > div {
  display: none;
}


/* contact 버튼 */
.btnCont{
  width: 30vw;
  font-size: 1.7vw;
}

/* hamburger */
#navIcon {
  width: 36px;
}

#navIcon span:nth-child(2) {
  top: 12px;
}

#navIcon span:nth-child(3) {
  top: 24px;
}

#navIcon.open span:nth-child(1) {
  top: 0px;
  left: 8px;
}

#navIcon.open span:nth-child(3) {
  top: 25px;
  left: 8px;
}

/* main */
section.main > p {
  font-size: 12vw;
}

/* window.onload Event */
section.main > p:nth-of-type(1) {
  font-size: 12.5vw;
  top: 50%;
  opacity: 0;
}
section.main > p:nth-of-type(1).on  {
  top: 22%;
  opacity: 1;
}
section.main > p:nth-of-type(2){
  top: 70%;
  opacity: 0;
}
section.main > p:nth-of-type(2).on {
  top: 36%;
  opacity: 1;
}
section.main > div.mountain.off {
  bottom: -20%;
  opacity: 0;
}

div.mountain {
  height: 80%;
  background: url(../images/mountain.png) 0 0 no-repeat;
  background-size: cover;
}

div.cloud {
  width: 60%;
  height: 30%;
}

div.lineCloud {
background: url(../images/cloud_panorama1.png) repeat-x 0 80%;
}


div.mainText {
  top: 50%;
  left: 14%;
  font-size: 12vw;
}

p.de > span:last-of-type {
  color: #fff;
  font-size: 5rem;
  margin: 0 5px;
}

div.scrollTo {
  width: 35%;
  height: 30%;
  left: 33%;
  bottom: -15%;
}

/* 메인 애니메이션 */
.subText {
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.subText.on {
  top: 68%;
  opacity: 1;
}

.subText > p {
  font-size: 12vw;
}

.subText div > p > span {
  font-size: 2.8vw;
}


/* profile */
section.profile h1 {
  font-size: 6vw;
  margin-top: 12%;
  margin-left: 5%;
}

section.profile h1 > p:last-child{
  text-indent: 4%;
}

section.profile h1::before {
  left: 3.7%;
  width: 58%;
}

section.profile > div.proBox {
  position: relative;
  width: 100%;
  height: 60%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  row-gap: 2vh;
  z-index: 5;
  top: 8%;
}
section.profile div.aboutMe ul:first-of-type {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 4%;
}
section.profile li {
  font-size: 2vw;
  line-height: 3vw;
}

section.profile h2 {
  font-size: 3.5vh;
}

div.aboutMe {
  width: 42%;
  height: 100%;
  padding: 3% 5% 8% 5%;
  margin-right: 2%;
}

div.timeLine {
  width: 46%;
  height: 48%;
  padding: 2.3% 4% 8% 4%;
}

div.tlgraph div.line {
  position: absolute;
  bottom: 17%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ED6C91;
}
div.tlgraph div.circle {
  position: absolute;
  bottom: 14%;
  left: 0;
  width: 1.7vw;
  height: 1.7vw;
  background: #F493AF;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.1));
}
div.tlgraph div.circle:last-of-type {
  right: 0;
  left: auto;
}

div.timeLine div.tldata {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
}

div.tldata > ul:first-of-type::before, div.tldata > ul:nth-of-type(2)::before, div.tldata > ul:last-of-type::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 14%;
  left: 50%;
  transform: translateX(-50%);
  width: 1.6vw;
  height: 1.6vw;
  border-radius: 50%;
  background: #ED6C91;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.15));
}
div.timeLine ul {
  position: relative;
  width: 30%;
  height: 100%;
  text-align: center;
}
div.timeLine ul > li {
  position: absolute;
  font-family: 'Montserrat', 'Pretendard-Regular', sans-serif;
  font-weight: 600;
  font-size: 1.8vw;
  line-height: 2vw;
  width: 100%;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  word-break: keep-all;
}
div.tldata ul > li:first-child {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
div.timeLine ul > li:nth-of-type(2) {
  font-weight: 400;
}
div.timeLine ul:first-of-type > li:nth-of-type(2) {
  bottom: 40%;
}

div.timeLine ul > li > span {
  font-size: 0.7vw;
  font-weight: 400;
  color: rgba(54, 59, 62, 0.50);
}

div.skills {
  width: 46%;
  height: 48%;
  padding: 2.3% 4% 8% 4%;
}

div.skills > ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  row-gap: 5%;
  text-align: center;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
}

div.skills > ul > li {
  width: 25%;
}

section.profile > span {
  top: 5%;
  left: 4%;
  font-size: 9vw;
}

div.emoji {
  display: none;
}

/* designWorks */
section.designWorks > h2 {
  top: 15%;
}

section.designWorks > div.lineCloud {
  top: 15%;
}

section.designWorks > ul > li {
  position: absolute;
  bottom: 10vh;
  width: 70vw;
  z-index: 30;
}

section.designWorks > ul > li:first-child {
  left: 10%;
}
section.designWorks > ul > li:nth-child(2) {
  left: 25%;
  bottom: 16vh;
}
section.designWorks > ul > li:nth-child(3) {
  left: 40%;
  bottom: 12%;
}
section.designWorks > ul > li:nth-child(4) {
  left: 55%;
  bottom: 12%;
}


/* web projects */
section.web > ul {
  height: 55%;
  top: 18vh;
  row-gap: 2vh;
  margin-left: 4%;
  z-index: 50;
}
section.web > ul > li {
  width: 30vw;
}

section.web > ul > li > a {
  height: 12vw;
  line-height: 12vw;
  font-size: 4.7vw;
  border-radius: 6.5vw;
}

article h3 {
  width: 20vw;
}

article > div.cont {
  position: absolute;
  width: 100%;
  top: 22vh;
  padding: 0 5% 0 37%;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 2vh;
}
article.webPage p {
  font-family: 'Pretendard-Regular';
  width: 100%;
  font-size: 2vw;
  letter-spacing: -0.02vw;
  line-height: 150%;
  word-break: keep-all;
}

article.webPage ul {
  width: 100%;
}

article ul > li {
  font-size: 1.7vw;
  padding: 1.2vw 2vw;
  margin-right: 8px;
}

article div.mockup {
  position: absolute;
  width: 70vw;
  height: 80vh;
  right: -10%;
  bottom: 5%;
}

/* content5 // contact */
.contact{position: relative;}

.contact > h2 {
  top: 13%;
  left: 4%;
  font-size: 12vw;
}

.contact > h2 > span:last-child {
  font-size: 13.7vw;
}


.contact > dl {
  position: absolute;
  top: 38%;
  width: 95%;
}
.contact > dl > dt {
  font-size: 3vw;
}
.contact > dl > dd {
  font-size: 2vw; 
}

.contact  > ul {
  bottom: 10%;
  left: 4%;
}
.contact  > ul > li {
  font-size: 3vw;
}

}


/* 태블릿 가로, 랩탑 */
@media screen and (min-width: 769px) and (max-width: 1280px) {

.mobSite, .mobVer, .moblist {
  display: none;
}

div.navi > ul:first-of-type {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-size: 10vw;
  font-family: 'ValkyRegular';
  gap: 2vh;
}

div.navi > ul:first-of-type > li {
  position: relative;
}

div.navi > ul:first-of-type > li:first-child~li::before {
  content: "/";
  display: block;
  color: #ED6C91;
  text-align: center;
}

div.navi > div {
  display: none;
}


/* contact 버튼 */
.btnCont{
  width: 25vw;
  font-size: 1.4vw;
}

/* 햄버거 */
#navIcon {
  width: 36px;
}

#navIcon span:nth-child(2) {
  top: 12px;
}
#navIcon span:nth-child(3) {
  top: 24px;
}
#navIcon.open span:nth-child(1) {
  top: 0px;
  left: 8px;
}
#navIcon.open span:nth-child(3) {
  top: 25px;
  left: 8px;
}

/* main */
section.main > p {
  font-size: 12vw;
}

/* window.onload Event */
section.main > p:nth-of-type(1) {
  top: 50%;
  opacity: 0;
}
section.main > p:nth-of-type(1).on {
  top: 15%;
  opacity: 1;
}
section.main > p:nth-of-type(2){
  top: 70%;
  opacity: 0;
}
section.main > p:nth-of-type(2).on{
  top: 34%;
  opacity: 1;
}
section.main > div.mountain.off {
  bottom: -20%;
  opacity: 0;
}

div.mountain {
  height: 80%;
  background: url(../images/mountain.png) 0 0 no-repeat;
  background-size: cover;
}

div.cloud {
  width: 60%;
  height: 30%;
}

div.lineCloud {
  background: url(../images/cloud_panorama1.png) repeat-x 0 80%;
}

div.mainText {
  top: 50%;
  left: 10%;
  font-size: 12vw;
}

p.de > span:last-of-type {
  color: #fff;
  font-size: 7rem;
  margin: 0 1.2rem;
}

div.scrollTo {
  width: 30%;
  height: 40%;
  left: 35%;
  bottom: -20%;
}

/* 메인 애니메이션 */
.subText {
  top: 80%;
  left: 80%;
}

.subText.on {
  top: 61vh;
  opacity: 1;
}

.subText > p {
  font-size: 6vw;
}

.subText div > p > span {
  font-size: 1.8vw;
}

/* profile */
section.profile h1 {
  font-size: 5.5vw;
  margin-top: 10%;
  margin-left: 5%;
}

section.profile h1 > p:last-child{
  text-indent: 4%;
}

section.profile h1::before {
  left: 3.7%;
  width: 53%;
}

section.profile > div.proBox {
  position: relative;
  width: 100%;
  height: 60%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  row-gap: 2vh;
  z-index: 5;
  top: 6%;
}
section.profile div.aboutMe ul:first-of-type {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 4%;
}
section.profile li {
  font-size: 1.7vw;
  line-height: 3vw;
}

section.profile h2 {
  font-size: 3.5vh;
}

div.aboutMe {
  width: 42%;
  height: 100%;
  padding: 3% 5% 8% 5%;
  margin-right: 2%;
}

div.timeLine {
  width: 46%;
  height: 48%;
  padding: 2.3% 4% 8% 4%;
}

div.tlgraph div.line {
  position: absolute;
  bottom: 17%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ED6C91;
}
div.tlgraph div.circle {
  position: absolute;
  bottom: 12.5%;
  left: 0;
  width: 1.7vw;
  height: 1.7vw;
  background: #F493AF;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.1));
}
div.tlgraph div.circle:last-of-type {
  right: 0;
  left: auto;
}

div.timeLine div.tldata {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
}

div.tldata > ul:first-of-type::before, div.tldata > ul:nth-of-type(2)::before, div.tldata > ul:last-of-type::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 12.7%;
  left: 50%;
  transform: translateX(-50%);
  width: 1.6vw;
  height: 1.6vw;
  border-radius: 50%;
  background: #ED6C91;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.15));
}
div.timeLine ul {
  position: relative;
  width: 30%;
  height: 100%;
  text-align: center;
}
div.timeLine ul > li {
  position: absolute;
  font-family: 'Montserrat', 'Pretendard-Regular', sans-serif;
  font-weight: 600;
  font-size: 1.4vw;
  line-height: 130%;
  width: 100%;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  word-break: keep-all;
}
div.tldata ul > li:first-child {
  position: absolute;
  width: 100%;
  bottom: -3%;
  text-align: center;
}
div.timeLine ul > li:nth-of-type(2) {
  font-weight: 400;
}
div.timeLine ul:first-of-type > li:nth-of-type(2) {
  bottom: 42%;
}

div.timeLine ul > li > span {
  font-size: 1.1vw;
  font-weight: 400;
  color: rgba(54, 59, 62, 0.50);
}
div.skills {
  width: 46%;
  height: 48%;
  padding: 2.3% 4% 6% 4%;
}

div.skills > ul {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vh;
  align-content: center;
  justify-items: center;
}

div.skills > ul > li > img {
  width: 90%;
}

section.profile > span {
  top: 7%;
  left: 4%;
  font-size: 9vw;
}
div.emoji {
  display: none;
}


section.designWorks > h2 {
  top: 10%;
}
section.designWorks > div.lineCloud {
  top: 10%;
}

section.designWorks > ul > li {
  position: absolute;
  bottom: 18vh;
  width: 50vw;
  z-index: 30;
}

section.designWorks > ul > li:first-child {
  left: 10%;
}
section.designWorks > ul > li:nth-child(2) {
  left: 30%;
  bottom: 16vh;
}
section.designWorks > ul > li:nth-child(3) {
  left: 50%;
  bottom: 12%;
}
section.designWorks > ul > li:nth-child(4) {
  left: 70%;
  bottom: 12%;
}

/* web projects */
section.web > ul {
  height: 55%;
  top: 18vh;
  row-gap: 2vh;
  margin-left: 4%;
}

section.web > ul > li {
  width: 28vw;
}

section.web > ul > li > a {
  height: 11vw;
  line-height: 11vw;
  font-size: 4.7vw;
  border-radius: 6.5vw;
}

article h3 {
  width: 18vh;
}

article > div.cont {
  position: absolute;
  width: 100%;
  top: 21vh;
  padding: 0 5% 0 37%;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 2vh;
}

article.webPage p {
  font-family: 'Pretendard-Regular';
  width: 100%;
  font-size: 1.8vh;
  letter-spacing: -0.02vw;
  line-height: 150%;
  word-break: keep-all;
}

article ul > li {
  font-size: 1.6vh;
  padding: 1.2vh 1.3vh;
  margin-right: 8px;
}

article div.mockup {
  position: absolute;
  width: 75vh;
  height: 80vh;
  right: -15vh;
  bottom: 2%;
  z-index: 5;
}


/* content5 // contact */
.contact{position: relative;}

.contact > h2 {
  top: 13%;
  left: 4%;
  font-size: 10vh;
}

.contact > h2 > span:last-child {
  font-size: 11.5vh;
}

.contact > dl {
  position: absolute;
  top: 38%;
  width: 97%;
}

.contact > dl > dt {
  font-size: 3vh;
}
.contact > dl > dd {
  font-size: 2vh; 
}

.contact  > ul {
  bottom: 10%;
  left: 4%;
}
.contact  > ul > li {
  font-size: 3vh;
  line-height: 150%;
}

}